/* navbar */
.nav-link {
  margin: 8px;
}
.nav-item {
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.fa-home {
  margin-right: 8px;
}
.fa-globe {
  margin-right: 8px;
}
.fa-bell {
  margin-right: 8px;
}
.fa-envelope {
  margin-right: 8px;
}
.fa-bookmark {
  margin-right: 8px;
}
.fa-list {
  margin-right: 8px;
}
.fa-user {
  margin-right: 8px;
}
.fa-info {
  margin-right: 8px;
}

button {
  font-family: monospace;
  font-size: 20px;
  background-color: #03a9f4;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  outline: none;
  width:180px;
  padding: 5px;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.01);
}

button:active {
  transform: scale(0.98, 0.98);
}

p{
    font-size:18px
}

.box2{
    position:sticky;
    left:700px;
}

.navbar {
  width: 250px;
  align-items: start;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(29, 161, 242, 1);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
/* @media (min-width:992px) {     */
.vertical-nav {
  position: fixed;
  top: 56px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
  padding-top: 30px;
}
/* } */

.twitter-i {
  height: 2rem;
  width: 1.5em;
  fill: #fff;
}

/* Head */
body {
  background-color: black;
  color: white;
  display: flex;
}
.space{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(47, 51, 54);
    height: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(47, 51, 54);
    background-color: rgb(21, 24, 28);
}
.hj {
  display: block;
  box-sizing: border-box;
  flex: 1;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
}
.tendances {
  width: 250px;
}
h1{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.container{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
}
.qdn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
}
.qdn2 input{
    color: white;
    background-color: black;
    border: none;
}
/* barre de recherche */

.recherche_p{
	background-color: black;
	/* border: 1px solid #dddddd; */
	padding: 10px 10px 10px 10px;
}
.recherche-barr{
	margin-bottom: auto;
	margin-top: auto;
	background-color: rgb(47, 51, 54);
}
.recherche-input{
	border: 0;
	width: 0;
	line-height: 37px;
}
.recherche-barr:hover > .recherche-input{
	padding: 0 10px;
	width: 180px;
	transition: width 0.4s linear;
}
.recherche-icone:hover{
	color: white;
}
.recherche-icone{
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
}


img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
